.button {
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
    width: 350px;
    height: 55px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border-color: var(--grey);
    margin: 10px;
    align-items: center;
}

.button:hover {
    background-color: var(--grey);
    color: var(--black);
    opacity: 50%;
}

